body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image: url('ani-3d.jpg'); /* later*/
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.game-container {
    position: relative;
    width: 80vw; 
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#restart-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#restart-button:hover {
    background-color: #23c62b;
}

canvas {
    border: none;
    background-color: transparent;
    width: 80%; /* Expand canvas to fill the container */
    max-width: 600px;
    height: 80%;
    margin: 20px 0;
}

.game-title {
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.instructions {
    font-size: 16px;
    margin-top: 10px;
}

.game-over {
    display: none;
}

#game-over-text {
    font-size: 32px;
    font-weight: bold;
    color: #e74c3c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#score {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.rules-frame {
    width: 80%; /* Reduce the width of the embedded iframe */
    max-width: 600px;
    margin: 20px auto;
    border: none;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    /* Add more responsive styles as needed */
}